html{
    font-size: 14px; 
    box-sizing: border-box;
}
body{
    margin:0;
    padding:12px;
    box-sizing: border-box;
    font-family: "メイリオ", "Meiryo","游ゴシック","ヒラギノ角ゴ Pro",sans-serif;
    box-sizing: border-box;
}

#contents {
    width: 100%;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 18px;
}
#contents img.logo{
    width: 12%;
    min-width: 100px;
    max-width: 130px;
}
.header{
    margin: auto;
    margin-top: 18px;
    width: 85%;
}
.header h2{
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    border: 0;
    font-size: 38px;
    line-height: 0.9;
}

#btn{
    margin-top: 18px;
    min-width: 180px;
    max-width: 250px;
    padding: 4px 8px;
    
    font-size: 28px;
    font-family: 'Ropa Sans', sans-serif;
    transition: border-color 0.4s, color 0.4s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-buy{
    background: #39298C;
    color: #fff;
    border: 1px solid #555;
}
.btn-buy:hover {
    background: linear-gradient(180deg, #666, #444);
}