html{
    font-size: 14px; 
    box-sizing: border-box;
}
body{
    margin:0;
    padding:12px;
    box-sizing: border-box;
    font-family: "メイリオ", "Meiryo","游ゴシック","ヒラギノ角ゴ Pro",sans-serif;
    box-sizing: border-box;
}